<ul>
  <li><a href="#">Home</a></li>
  <li><a href="#">Stories</a></li>
  <li><a href="#">About</a></li>

  <li class="dropdown">
    <a class="dropbtn">Discover</a>
    <div class="dropdown-content">
      <a href="#">Fundraisers</a>
      <a href="#">Success Stories</a>
    </div>
  </li>
    <li class="dropdown">
    <a class="dropbtn">Fund Raise For</a>
    <div class="dropdown-content">
      <a href="#">Charity</a>
      <a href="#">Medical</a>
      <a href="#">Natural Disaster</a>
      <a href="#">Emergency</a>
      <a href="#">Education</a>
    </div>
  </li>
  <li class="Sign" style="float:right"><a href="/login">Register/Log In</a></li>
</ul>
