ul 
{
    list-style-type: none;  /*Does not assign blue-color to hyper link*/
    margin: 0;
    padding: 0;
    overflow: hidden;/*You can add scroll bar too.Overflow to clip content*/
    background-color: #262626; /*Black Shade*/
}

li 
{
    float: left;  /*Displays list extreme left or right*/
}

li a, .dropbtn {
    display: inline-block;
    color: white;  /*Color of the text in dropbutton*/
    text-align: center; /*to align the text in the center of the bock button*/
    padding: 14px 20px;  /*Doubt*/
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn 
{
    background-color:#595959; /*Menu highlight*/
}

li.dropdown 
{
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #595959;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}/*Dropdown color*/

.dropdown:hover .dropdown-content 
{
    display: block;
}